$burger-size: 56px;
$background-color:  rgba(32, 32, 32, 1);
$text-color: #fff;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: $background-color;
  gap: 0;
}


.header__logo img {
  width: 56px;
  height: auto;
}

.nav {
  position: relative;
}

.nav__toggle {
  display: none;
}

.nav__burger {
  width: $burger-size;
  height: $burger-size;
  cursor: pointer;
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.nav__list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: $background-color;
  flex-direction: column;
  width: 200px;
  border: 1px solid #333;
  padding: 10px 0;
  display: none;
  z-index: 1000;

  .nav__item {

    border: 1px solid white;
    border-radius: 20px;

   
  }

  .nav__link {
    font-family: Manrope;
margin-left: 21px;
text-align: end;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: $text-color;


    transition: color 0.3s;
    list-style: none;
    &:hover {
      color: #FFEE32;

    }
  }
  

}

.nav__toggle:checked + .nav__burger + .nav__list {
  display: flex;
}


@media (min-width: 1200px) {

  .nav__burger {
    display: none;
  }

  .nav__list {
    display: flex !important;
    position: static;
    flex-direction: row;
    width: auto;
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  .nav__link{
    margin-left: 17px;
    font-size: 16px;
  }
  .nav__item:nth-child(1)::after{
    content: "";
  position: absolute;
    width: 16px;
    height: 16px;
    left: 20px;
    bottom: 14px;

   background-image: url('../images/portfolio.svg');
  }
  .nav__item{
    padding: 10px 40px;
    border-radius: 20px;
  }

  .nav__item:nth-child(2)::after{
    content: "";
  position: absolute;
    width: 16px;
    height: 16px;
    left: 200px;
    bottom: 14px;

   background-image: url('../images/document.svg');
  }

  .nav__item:nth-child(3)::after{
    content: "";
  position: absolute;
    width: 16px;
    height: 16px;
    left: 370px;
    bottom: 14px;

   background-image: url('../images/flower.svg');
  }
  .nav__item{
    padding: 10px 40px;
    border-radius: 20px;
  }

  .nav__item:nth-child(4)::after{
    content: "";
  position: absolute;
    width: 16px;
    height: 16px;
    left: 570px;
    bottom: 14px;

   background-image: url('../images/heart.svg');
  }
  
  .nav__item{
    padding: 10px 40px;
    border-radius: 20px;
  }
  .header {
    padding: 20px 191px 20px;
    gap: 403px;
  }
}
